html {
    hanging-punctuation: first allow-end last;
}

body {
    width: 100%;
    background-color: black !important;
    margin: 40px auto;
    font-size: 18px;
    padding: 0 10px;
    max-width: 600px;
    font-family: lucida;
    line-height: 1.6em;
    color: white;
}
h1 {
    font-size: 24px;
    color: #00b300
}
h2{
    font-size: 20px;
}

div#header {
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-color: white;
}

div#content {
    width: 600px;
}

ul#frontpage_links {
    font-size: 48px;
    list-style-type: none;
    line-height: 2;
}

a.frontpage_link {
    color: white;
    text-decoration: none;
}

a.frontpage_link:hover {
    color: black;
    background-color: white;
}


img {
    max-width: 100%;
    max-height: auto;
}

pre {
    padding: 10px;
    max-width: 100%;
    overflow: auto;
    background-color: #191919;
}

div.figure {
    padding: 10px;
    background-color: #191919;
    text-align: center;
    width: 90%;
    font-size: 14px;
    margin: 0 auto;
}

.floatright {
    float: right;
}

a, a:link, a:active {
    color: #00b300;
}

a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}

.mobile100 {}
@media only screen and (max-width: 600px) {
    .mobile100 {
		width: 100% !important;
    }
	body {
		padding: 0px;
		margin: 0 auto;
	}
}
