html{hanging-punctuation:first allow-end last}

body{margin:20px auto;max-width:700px;line-height:1.6em;font-size:18px;color:#c8c8c8;overflow-wrap:break-word;background-color:#121212;font-family:arial;font-kerning:auto;font-optical-sizing:auto;font-weight:400;font-size-adjust:none}

#page{background-color:#191919;padding:10px}

#contents{padding:10px}

h1,h2,h3,h4,h5{line-height:1.6em;letter-spacing:0px;font-weight:700;color:#d1b38a}

h2{font-size:1.8em}

a:link,a:visited,a:active{color:#e1aa5d;text-decoration:none}

#container{width:100%}

img{max-width:100%;max-height:auto}

pre{padding:10px}

a:hover{color:#ff9600;text-decoration:underline}

#header{border-bottom-style:solid;border-bottom-width:1px;border-color:#d1b38a}

#footer{color:#d1b38a;border-top-style:solid;border-top-width:1px;border-color:#d1b38a;padding:5px}

.floatleft{float:left}

.floatright{float:right}

code{background-color:#2b303b}

tr:nth-child(2n){background-color:#333}

table{font-size:14px;table-layout:auto;width:100%}

td.center-td{text-align:center}

div#bottom-text{font-size:12px}

div.project_listing{width:100%;margin:0 auto}

.project_image{float:right;padding:10px}

.authors_note{padding:10px;border-width:1px;border-style:solid;border-color:#e1aa5d}

div.img{padding:2px;font-size:12px;margin:0 auto;color:#d1b38a}

.caption-img-block{margin:0 auto;padding:10px;width:90%;font-size:14px;box-shadow:5px 5p 5px #ddd;color:#d1b38a;text-align:center;line-height:1.2em}

div.img>img{max-width:100%;max-height:auto}

blockquote{margin:0}

blockquote p{padding:15px;background:#191919;border-radius:5px}

blockquote p::before{content:"“"}

blockquote p::after{content:"”"}

pre{overflow:auto}

canvas{width:100%}

iframe{width:100%;height:370px}

@media only screen and (max-width: 700px) {
    .mobile100{width:100% !important}
    body{padding:0px;margin:0 auto}
}
