<!doctype html>
<html lang="en">
<head>
  <title>{% block title %}{{ config.site_title }}{% endblock %}</title>
  <link rel="stylesheet" href="{{ config.public_url }}/css/home.css" />
  <link rel="feed" type="application/xml" title="{{ config.site_title }}" href="/rss.xml" />

{% block rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/rss.xml">
{% endblock %}

  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ config.site_desc }}">
  <meta name="author" content="{{ config.author }}">
  <script type="text/javascript" src="/js/stove_lib.js"></script>
  <meta name="author" content="{{ config.author }}">{% if config.mastodon %}
  <meta name="fediverse:creator" content="{{ config.mastodon }}" />{% endif %}
  <script type="text/javascript" src="/js/stove_lib.js'"></script>

  {% block date %}{% endblock %}
  {% block meta %}{% endblock %}
</head>

<body class="mobile100">
  <div id="page">
    <div id="header">
      <a id="top" href="{{ config.public_url }}">home</a>
      <a href="{{ config.public_url }}/blog">blog</a>
      <a href="{{ config.public_url }}/blog/tags">tags</a>
      <!---<a href="/apps">apps</a>//--->
    </div>
    <section>
      <div id="contents">
        {% block content %}
        <p>Error encountered</p>
        {% endblock %}
      </div>
    </section>
    <div id="footer">
      <span class="floatright">
        <a href="{{ config.public_url }}">home</a>
      </span>
    </div>
  </div>
</body>
</html>
