{% extends base.html %}

{% block date %}
<time datetime="{{ page.date }}">
{% endblock date %}

{% block meta %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.desc }}" />
<meta property="og:keywords" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_US" />
<meta property="fb:app_id" content="F**k you Facebook/Meta" />
<meta property="og:url" content="{{ page.url }}" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:site" content="@ste5e@fosstodon.org" />
{% if page.thumbnail %}
<meta property="og:image" content="{{ config.public_url }}/{{ page.url }}{{ page.thumbnail }}" />
<meta property="og:image:width" content="{{ config.thumb_width }}" />
<meta property="og:image:height" content="{{ config.thumb_height }}" />
{% endif %}
{% endblock %}

{% block title %}{{ page.title }} | {{ config.site_title }}{% endblock %}

{% block content %}
<h1 class="title">{{ page.title }}</h1>
<p class="description">{{ page.desc }}</p>
<p class="subtitle">Published on <time datetime="{{ page.date }}">{{ page.date }}</time></p>

{% if page.thumbnail %}
<img src="{{ page.thumbnail }}"
{% if page.thumbnail_desc %}
     alt="{{ page.thumbnail_desc }}" title="{{ page.thumbnail_desc }}"
{% endif %} />
{% endif %}

{{ page.content }}{% endblock %}
