{% extends base.html %}

{% block content %}
<h2>Gaming Lists{% if tag %} tagged {{ tag }}{% endif %}</h2>
<ul>
{% for page in pages %}
<li><a href="{{ config.public_url }}/{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>
{% endblock %}
