<!doctype html>
<html lang="en">
  <head>
    <title>{{ config.site_title }}</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/rss.xml">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ config.site_desc }}">
    <meta name="author" content="{{ config.author }}">{% if config.mastodon %}
  <meta name="fediverse:creator" content="{{ config.mastodon }}" />{% endif %}
  </head>
  <body>
    <div id="content">
      <ul id="frontpage_links">
        <li><a class="frontpage_link" href="/blog">blog</a></li>
	    <li><a class="frontpage_link" href="/blog/2023/10/28/welcome/">about</a></li>
	    <!---<li><a class="frontpage_link" href="/apps">apps</a></li>//--->
      </ul>
    </div>
  </body>
</html>
