<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ config.site_title }}</title>
    <link rel="stylesheet" href="{{ config.public_url }}/css/home.css"/>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <a href="{{ config.public_url }}">home</a>
      </div>
      <div id="content">
        <h1>Hey I'm Mikey!</h1>
        <p>Welcome to my webpage! Here you can find my various blog writings which covers things like video games, literature, and my life in general. Check out my <a href="{{ config.public_url }}/blog">cool blog!</a></p>
          <ul>
            <li>Click here for the <a href="{{ config.public_url  }}/gaming_list">Gaming Lists!</a></li>
            <li>Click here for the <a href="{{ config.public_url  }}/blog/2024/10/16/mikeys-reading-list">Reading List!</a></li>
          </ul>
        <p>Thanks for stopping by :) </p>
      </div>
    </div>
  </body>
</html>
